.card {
    background-color: $light-color;
    border: $border;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 50px;
    transition: height .25s;
    position: relative;
    color: $dark-color;

    &\--expand{
        height: 120px;
    }

    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    &__name{
        line-height: 1.2;
    }
    &__flag{
        max-height: 30px;
        margin-right: 10px;
        border: 1px solid $dark-color;
    }
    &__dropdown{
        position: absolute;
        right: 20px;
    }
}