.card {
    background-color: $light-color;
    border: $border;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    &__header{
        display: flex;
        width: 50%;
        margin-bottom: 10px;
    }
    &__name{
        align-self: end;
    }
    &__flag{
        max-height: 30px;
        margin-right: 10px;
    }
}