.header{
    background-color: $light-color;
    width: 100vw;
    height: 9vh;
    border-bottom: $border;
    padding: 0 20px;
    color: $dark-color;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & span{
        color: $red;
    }

    &__darkmode{
        position: relative;
        &::before {
            content: url('../../assets/img/moon.svg');
            width: 14px;
            height: 14px;
            position: absolute;
            left: -20px;  
        }
    }
}