.header{
    background-color: $light-color;
    max-width: 100vw;
    height: 9vh;
    border-bottom: $border;
    padding: 0 20px;
    color: $dark-color;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1{
        user-select: none;
    }

    & span{
        color: $red;
    }
    &__themeicon{
        width: 1em;
        height: auto;
    }
}

@media screen and (min-width:1440px) {
    .header{
        padding: 0 50px;
        & h1, span{
            font-size: 1.5rem;
        }
    }
}